@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto, sans-serif;
    height: 100vh;
}

main {
    background-color: cornflowerblue;
    /* height: 70vh; */
    padding:40px;
}

header {
    background: white;
    padding: 20px;
    text-align: center;
}

#title {
    color: red;
    font-size: 280%;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
}

/* Style the container */

#game-board {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    margin: 0 auto;
    text-align: center;
}

#intro {
    text-align: center;
    font-size: 2rem;
    padding: 10px;
}
label {
    color: limegreen;
    font-size: 30px;
}

#user-input {
    width: 100%;
    text-align: center;
}

#fname {
    width: 250px;
    max-width: 80%;
    height: 40px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}

#fname:hover {
    border: 1px solid aqua;
}

.btn {
    width: 100px;
    border: 2px solid white;
    background-color: aqua;
    border-radius: 5px;
    margin: 20px 0;
    padding: 10px;
    cursor: pointer;
}

.btn:hover {
    border: 2px solid aqua;
    background-color: white;
}

.hide {
    display: none;
}

#message {
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

#user-options-message {
    font-size: 2rem;
    text-align: center;
    margin: 20px 0;
}

#game-options-page {
    text-align: center;
}

/* Rules links */

#rules-div {
    width: 100%;
    text-align: center;
}

#rules {
    font-size: 1.5rem;
    color: red;
    cursor: pointer;
    display: inline-block;
}

#rules-video {
    margin-right: 30px;
    color: red;
    cursor: pointer;
    display: inline-block;
}

#video {
    font-size: 1.5rem;
    color: red;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

/* Style Rules page */

#play-rules {
    color: red;
    font-weight: bold;
}

.rules-title {
    color: red;
}

#first-to-three {
    padding: 5px 20px;
    color: blue;
}

#first-to-five {
    padding: 5px 20px;
    color: blue;
}

#first-to-ten {
    padding: 5px 20px;
    color: blue;
}

#poem p {
    color: green;
}

/* Footer social media links */
footer {
    height: 100px;
    background-color: white;
}

.social-networks {
    text-align: center;
}
.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 1%;
    color: black;
}

#copyright {
    text-align: center;
}

.game-button {
    width: 100px;
    border: 2px solid white;
    background-color: aqua;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
}

.game-button:hover {
    border: 2px solid aqua;
    background-color: white;
}

/* Style action message */
#action-message {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.result p {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

/* Style choices div */
#choices {
    text-align: center;
    margin: 30px 0 30px 0;
}

.choice {
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%
}

.choice:hover {
    border: 3px solid aqua;
}

.choice > img {
    width: 100%;
}

.choice :hover {
    cursor: pointer;
}

/* Style scoreboard divs */
.scoreboard {
    border: 3px solid black;
    width: 200px;
    max-width: 80%;
    margin: 20px auto;
    color: black;
    font-size: 40px;
    border-radius: 5px;
    font-family: roboto, sans-serif;
    padding: 15px 20px;
    text-align: center;
    position: relative;
}

.badge {
    color: black;
    font-size: 16px;
    font-family: roboto, sans-serif;
    padding: 3px 10px;
}

#user-label {
    background: green;
    position: absolute;
    top: 30px;
    left: -25px;

}

#computer-label {
    background: red;
    position: absolute;
    top: 30px;
    right: -25px;
}

/* Style loser page */

#loser-page {
    background-color: red;
    color: white;
    text-align: center;
}

#win-msg {
    font-size: 3rem;
}

#final-score {
    font-size: 2rem;
}

#game-options-btn {
    width: 120px;
}

#play-again-btn {
    width: 120px;
}

#end-game {
    width: 120px;
}

/* Style winner page */

#winner-page {
    background-color: green;
    color: white;
    text-align: center;
}

#win-msg {
    font-size: 3rem;
}

#final-score {
    font-size: 2rem;
}

#game-options-btn {
    width: 120px;
}

#play-again-btn {
    width: 120px;
}

#useer-choice-show {
    border-radius: 50%;
    border: 3px solid green;
    box-shadow: 10px 10px 10px lightgreen;
}

/*media queries*/

/* For large to medium screens sizes from 840px wide and down */


    @media screen and (max-width: 840px) {
        #title {
            font-size: 200%;
        }
    } 

    /* For large to medium screens sizes from 700px wide and down */

    @media screen and (max-width: 700px) {

        /* opening page */
        #intro {
            font-size: 1rem;
        }

        label {
            font-size: 1rem;
        }

        #message {
            font-size: 1rem;
        }

        /* game options page */

        #user-options-message {
            font-size: 1rem;
        }

        #rules {
            font-size: 1rem;
        }

        #video {
            font-size: 1rem;
        }

        /* game page */

        .choice {
            width: 60px;
            height: 60px;
            display: inline-block;
        }

        .result p {
            font-size: 1rem;
        }

        #action-message {
            font-size: 1rem;
        }

        /* win-lose message */

        #win-msg {
            font-size: 2rem;
            margin-bottom: 10px;
        }

    } 

/* For small to medium screens sizes from 640px wide and down */

@media screen and (max-width: 640px) {

    #game-board {
        width: 800px;
        max-width: 80%;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 10px 2px;
        margin: 0 auto;
        text-align: center;
    }

    .game-button {
        display: block;
        margin: 10px auto;
    }
}

/* For small to medium screens sizes from 570px wide and down */

@media screen and (max-width: 570px) {
    
    #game-options-btn {
        display: block;
        margin: 5px auto;
    }
    
    #play-again-btn {
        display: block;
        margin: 5px auto;
    }
    
    #end-game {
        display: block;
        margin: 5px auto;
    }
}


/* For small screens sizes from 321px wide and down */

@media screen and (max-width: 321px) {
    #rules-video {
        margin-right: 0;
        display: block;
    }

    .badge {
        font-size: 10px;
    }
}