@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto, sans-serif;
    height: 100vh;
}

main {
    background-color: cornflowerblue;
    /* height: 70vh; */
    padding:40px;
}

header {
    background: white;
    padding: 20px;
    text-align: center;
}

#title {
    color: red;
    font-size: 280%;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
}


/* Style the container */


#game-board {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    margin: 0 auto;
    /* margin-top: 30px; */
    text-align: center;
}

#intro {
    text-align: center;
    font-size: 2rem;
    padding: 10px;
}
label {
    color: limegreen;
    font-size: 30px;
}

#user-input {
    width: 100%;
    text-align: center;
}

#fname {
    width: 250px;
    height: 40px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}

.btn {
    width: 100px;
    border: 1px solid black;
    background-color: aqua;
    border-radius: 5px;
    margin: 20px 0;
    padding: 10px;
    cursor: pointer;
}

.hide {
    display: none;
}

#message {
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

#user-options-message {
    font-size: 2rem;
    text-align: center;
    margin: 20px 0;
}

#game-options-page {
    text-align: center;
}

/* Rules links */

#rules-div {
    width: 100%;
    text-align: center;
}

#rules {
    font-size: 1.5rem;
    width: 200px;
    color: red;
    cursor: pointer;
    display: inline-block;
}

#rules-video {
    width: 200px;
    color: red;
    cursor: pointer;
    display: inline-block;
}

#video {
    font-size: 1.5rem;
    width: 200px;
    color: red;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

/* Footer social media links */
footer {
    height: 100px;
    background-color: white;
}

.social-networks {
    text-align: center;
}
.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 1%;
    color: black;
}

#copyright {
    text-align: center;
}

.game-button {
    width: 100px;
    border: 1px solid black;
    background-color: aqua;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
}

/* Style action message */
#action-message {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.result p {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

/* Style choices div */
#choices {
    text-align: center;
    margin: 30px 0 30px 0;
}

.choice {
    display: inline-block;
}

.choice > img {
    width: 80%;
}

.choice :hover {
    cursor: pointer;
}

/* Style scoreboard divs */
.scoreboard {
    border: 3px solid black;
    width: 200px;
    margin: 20px auto;
    color: black;
    font-size: 40px;
    border-radius: 5px;
    font-family: roboto, sans-serif;
    padding: 15px 20px;
    text-align: center;
    position: relative;
}

.badge {
    color: black;
    font-size: 16px;
    font-family: roboto, sans-serif;
    padding: 3px 10px;
}

#user-label {
    background: green;
    position: absolute;
    top: 30px;
    left: -25px;

}

#computer-label {
    background: red;
    position: absolute;
    top: 30px;
    right: -25px;
}

/* Style loser page */

#loser-page {
    background-color: red;
    color: white;
    text-align: center;
}

#win-msg {
    font-size: 3rem;
}

#final-score {
    font-size: 2rem;
}

#game-options-btn {
    width: 120px;
}

#play-again-btn {
    width: 120px;
}

/* Style winner page */

#winner-page {
    background-color: green;
    color: white;
    text-align: center;
}

#win-msg {
    font-size: 3rem;
}

#final-score {
    font-size: 2rem;
}

#game-options-btn {
    width: 120px;
}

#play-again-btn {
    width: 120px;
}